.alexandr-form-cats{
  margin-bottom: 80px;
  .cats-title{
    color: $accent-shade;
    font-weight: bold;
  }
  label{
    color: $accent-shade;
  }
  input{
    border-radius: 20px;
    border-color: $accent-shade;
  }
  .description{
    color: $red;
  }
  .form-submit{
    display: block;
    margin: 0 auto;
    width: 200px;
    border-radius: 50px;
    text-transform: uppercase;
  }
  .alert{
    display: none;
  }
  #form-system-messages{
    .alert{
      display: inline-block;
    }
    .alert-danger{
      ul{
        li{
          a{
            color: $textcolor;
          }
        }
      }
    }
  }
  .image-widget{
    .file{
      background: $gray-100;
      a{
        color: $textcolor;
      }
    }
    button{
      margin-top: 20px;
      width: 100px;
    }
    .messages--error{
      color: $red;
    }
  }
}
